---
import logo from "../assets/logo.svg";
let base = import.meta.env.BASE_URL;
// Add / at the end of the base URL if it doesn't exist
if (base[base.length - 1] !== "/") {
    base += "/";
}
const url = Astro.url.pathname;
const isIndex = url === base;
const ourFocusHref = isIndex ? `#our-focus` : `${base}#our-focus`;
const ourApproachHref = isIndex ? `#our-approach` : `${base}#our-approach`;
const teamHref = isIndex ? `#team` : `${base}#team`;
const supportedByHref = isIndex
    ? `#supported-by`
    : `${base}#supported-by`;
---

<nav id="menu" class="navbar fixed-top navbar-expand-lg justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand" href=`${base}`
            ><img id="nav-logo" src={logo.src} /></a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href=`${ourFocusHref}`>Our focus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=`${ourApproachHref}`
                        >Our approach</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=`${teamHref}`>Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=`${supportedByHref}`>Support</a>
                </li>
                <li id="contact-button" class="nav-item">
                    <a class="nav-link" href=`${base}contact#contact`>Contact</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    a {
        text-decoration: none;
    }
    #nav-logo {
        height: 50px;
        max-height: 80%;
        margin-left: 10px;
    }

    nav {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        width: 100%;
    }
    .nav-item {
        background-color: rgba(255, 255, 255, 0);
        margin: 1em;
        z-index: 2;
    }
    .nav-link {
        transition: all 0.2s ease;
        transform-origin: left;
        color: #3b3838;
        font-size: larger;
        font-weight: 600;
        &.active {
            transform: scale(1.4);
            color: #ef857d !important;
        }
    }
    #menu {
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    }
    .navbar-brand {
        padding-right: 0;
        font-size: 2em;
        transform: translatey(-10%);
    }

    #contact-button {
        border: solid 2px #ff7e79;
        border-radius: 999px;
        transition: all 0.5s;

        .nav-link {
            color: #ff7e79;
            text-align: center;
            &.active {
                transform: scale(1);
                color: white !important;
            }
        }

        &:has(.nav-link.active) {
            background: linear-gradient(to bottom right, #ff7e79, #ffcd9e);
            box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
        }
    }

    @media (min-width: 992px) {
        /* Video becomes 100% height in desktop */
        nav {
            height: 5em;
        }
        #navbarNav {
            flex-grow: 0;
        }
        .container-fluid {
            width: 100%;
            justify-content: center !important;
        }
        .nav-link {
            transform-origin: center;
        }
        #contact-button {
            margin-left: 100px;
        }
    }
</style>

<script>
    import {ScrollSpy} from "bootstrap/dist/js/bootstrap.esm.min.js";
    document.addEventListener("astro:page-load", () => {
        var scrollSpy = new ScrollSpy(document.body, {
            target: "#navbarNav",
        });
        scrollSpy.refresh();
    });
</script>
